@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";

body {
  color: #2F363E;
  height: 1000vh;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 480;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}

