/*  display: flex는 한 줄로 나열
    justify-content: space-between은 아이콘 사이의 간격을 조절합니다. */

.find-icons {
  display: flex;
  justify-content: space-between;
  color: green;
}

/* flex-direction: column은 아이콘과 텍스트를 세로로 정렬 */
.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-icons__icon i {
  font-size: 35px;
  margin-bottom: 4px;
}

.find-icons__icon span {
  margin-top: 20px;
}

.recommended-friends {
  margin: 25px 0px;
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.recommended-friends span {
  margin: 100px 0;
  display: block;
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.7;
  margin-bottom: 25px;
}

.open-chat__header span {
  opacity: 0.6;
}

.open-post {
  display: flex;
}

.open-post__title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 7px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post__members {
  margin-top: 7px;
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  opacity: 0.5;
  font-size: 15px;
}

.open-post__members .divider {
  width: 1.5px;
  height: 15px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.open-post__member-status {
  color: #ff69c5;
}
